<br>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="col-6 bg-light text-black mx-auto">マイページ</div>
    </div>
  </div>

<br>
  <div class="row">
    <h4 class="col-2 mx-auto">登録情報</h4>
    <div class="col-4 mx-auto">
      <%= link_to edit_customer_path(@customer.id), class: "btn btn-success" do %>
          編集する
      <% end %>
    </div>
  </div>
  
  <div class="row">
   <div class="col-8 mx-auto">
     <table class="table table-borderless">
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
