<br>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <div class="col-6 bg-light text-black mx-auto">商品詳細</div>
    </div>
  </div>

<br>
  <div class="row">
    <div class="col-4 mx-auto">
      <%= image_tag @item.image, width: 200, height: 150 %>
    </div>
    <div class="col-8 mx-auto">
      <table class="table table-borderless">
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>税込価格</td>
          <td><%= @item.price %>円</td>
        </tr>
      </table>
      <div class="col-4 mx-auto">
        <%= link_to edit_admin_item_path(@item.id), class: "btn btn-success" do %>
          編集する
        <% end %>
      </div>
    </div>
  </div>
</div>
