<br>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="col-7 bg-light text-black"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</div><br>
      <%= form_with model: @customer, url: admin_customer_path(@customer) do |f| %>
      
      <div class="form-group">
        <div class="row">
          <div class="col-4">会員ID</div>
          <div class="col-8"><%= @customer.id %></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-4">氏名</div>
          <div class="col-3"><%= f.text_field :last_name %></div>
          <div class="col-3"><%= f.text_field :first_name %></div>
        </div>
      </div>  
      <div class="form-group">
        <div class="row">
          <div class="col-4">フリガナ</div>
          <div class="col-3"><%= f.text_field :last_name_kana %></div>
          <div class="col-3"> <%= f.text_field :first_name_kana %></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-4">郵便番号</div>
          <div class="col-8"><%= f.text_field :postal_code %></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-4">住所</div>
          <div class="col-8"><%= f.text_field :address %></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-4">電話番号</div>
          <div class="col-8"><%= f.text_field :telephone_number %></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-4">メールアドレス</div>
          <div class="col-8"><%= f.text_field :email %></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-4">会員ステータス</div>
          <div class="col-8">
           <div class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :is_deleted, false, checked: @customer.is_deleted == false, class: 'custom-control-input', id: 'status-active' %>
            <%= f.label :is_deleted, '有効', class: 'custom-control-label', for: 'status-active' %>
           </div>
           <div class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :is_deleted, true, checked: @customer.is_deleted == true, class: 'custom-control-input', id: 'status-deleted' %>
            <%= f.label :is_deleted, '退会済み', class: 'custom-control-label', for: 'status-deleted' %>
           </div>
          </div>
        </div>
      </div>
      <div class="form-group">
       <div class="row">
        <div class="col-4 offset-3"><button class="btn btn-success">変更を保存</button></div>
       </div>
      </div>
      
      <% end %>
      
    </div>
  </div>
</div>  