<br>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="text-group">
        <div class="col-12">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
          </div>
      </div>
    </div>
  </div>
  <br>
   <div class="row">
     <h2>新着商品</h2>
   </div>
   <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3 mb-4">
        <div class="card">
         <% if item.image.present? %>
          <%= image_tag item.image, width: 250, height: 200 %>
      　 <% else %>
      　   <%= image_tag 'no_image', width: 250, height: 200 %>
         <% end %>
        <div class="card-body">
         <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text">￥<%= item.price %></p>
        </div>
        </div>
      </div>
    <% end %>
    <div class="col-2 text-right">
     <%= link_to "すべての商品を見る>", items_path %>
    </div>
  </div>
</div>
