<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="col-3 bg-light text-black">新規会員登録</div>
      <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %><br>
      <div class="form-group">
       <div class="row">
        <div class="col-2">名前</div>
        <div class="col-1">(姓)</div>
        <div class="col-4"><%= f.text_field :last_name %></div>
        <div class="col-1">(名)</div>
        <div class="col-4"><%= f.text_field :first_name %></div>
       </div>
      </div>
      <div class="form-group">
       <div class="row">
        <div class="col-2">フリガナ</div>
        <div class="col-1">(セイ)</div>
        <div class="col-4"><%= f.text_field :last_name_kana %></div>
        <div class="col-1">(メイ)</div>
        <div class="col-4"><%= f.text_field :first_name_kana %></div>
       </div>
      </div>
      <div class="form-group">
       <div class="row">
        <div class="col-3">メールアドレス</div>
        <div class="col-4"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
       </div>
      </div>
      <div class="form-group">
       <div class="row">
        <div class="col-3">郵便番号(ハイフンなし)</div>
        <div class="col-4"><%= f.text_field :postal_code %></div>
       </div>
      </div>
      <div class="form-group">
       <div class="row">
        <div class="col-3">住所</div>
        <div class="col-9"><%= f.text_field :address %></div>
       </div>
      </div>
      <div class="form-group">
       <div class="row">
        <div class="col-3">電話番号(ハイフンなし)</div>
        <div class="col-4"><%= f.text_field :telephone_number %></div>
       </div>
      </div>
      <div class="form-group">
       <div class="row">
        <div class="col-3">パスワード(6文字以上)</div>
        <div class="col-4"><%= f.password_field :password, autocomplete: "new-password" %></div>
       </div>
      </div>
      <div class="form-group">
       <div class="row">
        <div class="col-3">パスワード(確認用)</div>
        <div class="col-4"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
       </div>
      </div>
      <div class="form-group">
       <div class="row">
        <div class="col-4 offset-3"><button class="btn btn-success btn-block">新規登録</button></div>
       </div>
      </div>
     
     <% end %>
     <div class="col-4 bg-light text-black">既に登録済の方</div><br>
     <%= link_to "こちら", new_customer_session_path %>からログインしてください。
    </div>
  </div>
</div>

